<div ng-controller="ProjectListCtrl as projects">
<div class="page-header m-b-0">
    <h1><span class="text-muted font-weight-light">Projects / </span>Archive</h1>
</div>
<div class="page-wide-block p-a-4 bg-white font-size-15">
    <p>
      Archived projects that have been completed and/or closed.
    </p>
</div>
<hr class="page-wide-block m-t-0">
<div class="row">
  <div class="col-md-12">
      <p ng-show="projects.projects.length == 0">There are no projects in the archive.</p>
      <div class="table-light">

          <table class="table table-bordered table-striped" id="projects" ng-show="projects.projects.length > 0">
              <thead>
                <tr>
                  <th>Key</th>
                  <th>Name</th>
                  <th>Lead</th>
                  <th>Owner</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="p in projects.projects">
                  <td><a href ui-sref="pages.view-project({ key: p.key })">{{ p.key }}</a></td>
                  <td>{{ p.name }}</td>
                  <td>{{ p.lead }}</td>
                  <td>{{ p.owner }}</td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

</div>
