<div ng-controller="ProjectListCtrl as projects">
    <div class="page-header m-b-0">
        <div class="row">
          <div class="col-md-6">
            <h1><span class="text-muted font-weight-light">Projects / </span>Backlog</h1>
          </div>
          <div class="col-xs-12 width-md-auto width-lg-auto width-xl-auto pull-md-right">
              <a href ui-sref="pages.create-project" class="btn btn-primary"><span class="btn-label-icon left ion-plus-round"></span>Create a project</a>
            </div>
        </div>
      </div>
<div class="page-wide-block p-a-4 bg-white font-size-15">
    <p>
      Projects that are in the backlog. Drag to change priority.
    </p>
</div>
<hr class="page-wide-block m-t-0">
<div class="row">
  <div class="col-md-12">
      <p ng-show="projects.projects.length == 0">There are no projects in the backlog. Great work!</p>
      <div class="table-light">
        <table class="table table-bordered table-striped" id="projects" ng-show="projects.projects.length > 0">
            <thead>
              <tr>
                <th>Key</th>
                <th>Name</th>
                <th>Lead</th>
                <th>Owner</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in projects.projects">
                <td><a href ui-sref="pages.view-project({ key: p.key })">{{ p.key }}</a></td>
                <td>{{ p.name }}</td>
                <td>{{ p.lead }}</td>
                <td>{{ p.owner }}</td>
                <td style="width: 300px;">
                  <button class="btn btn-success btn-xs" ng-click="projects.moveToOnDeck(p.key)">Move to on-deck</button>
                  <button class="btn btn-info btn-xs" ng-click="projects.moveToInFlight(p.key)">Move to in-flight</button>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#projects').sortable({
      containerSelector: 'table',
      itemPath: '> tbody',
      itemSelector: 'tr',
      placeholder: '<tr class="placeholder">'
    });
  });
</script>
</div>
