<div class="page-header m-b-0">
  <h1><span class="text-muted font-weight-light">Projects / </span>Create a project</h1>
</div>
<div class="page-wide-block p-a-4 bg-white font-size-15">
  <p>
    Create a new project. Add links to project documentation, mission statement, and other project attributes.
  </p>
</div>
<hr class="page-wide-block m-t-0">
<div class="row">
  <div class="col-md-12">
      <div class="panel">
          <div class="panel-heading">
              <div class="panel-title">Please enter the project details</div>
          </div>

          <div class="panel-body">
              <form>
                  <fieldset class="form-group">
                      <label>Name</label>
                      <input class="form-control" type="text">
                  </fieldset>
                  <fieldset class="form-group">
                      <label>Mission Statement</label>
                      <textarea class="form-control" placeholder="Describe what a mission statement is"></textarea>
                  </fieldset>
                  <fieldset class="form-group">
                      <label>Owner/Stakeholder</label>
                      <input class="form-control" type="text">
                  </fieldset>
                  <fieldset class="form-group">
                      <label>Cyberinfrastructure Lead</label>
                      <input class="form-control" type="text">
                  </fieldset>

                  <fieldset class="form-group">
                      <label class="control-label">Has a Project Plan?</label>
                      <label class="switcher switcher-success">
                          <input type="checkbox" checked="">
                          <div class="switcher-indicator">
                              <div class="switcher-yes">YES</div>
                              <div class="switcher-no">NO</div>
                          </div>
                          &nbsp;
                      </label>
                  </fieldset>

                  <fieldset class="form-group">
                      <label>Link to the Project Plan</label>
                      <input class="form-control" type="text" />
                  </fieldset>

                  <fieldset class="form-group">
                      <label class="control-label">Has a Confluence Wiki?</label>
                      <label class="switcher switcher-success">
                          <input type="checkbox" checked="">
                          <div class="switcher-indicator">
                              <div class="switcher-yes">YES</div>
                              <div class="switcher-no">NO</div>
                          </div>
                          &nbsp;
                      </label>
                  </fieldset>

                  <fieldset class="form-group">
                      <label>Link to the Confluence Wiki</label>
                      <input class="form-control" type="text" />
                  </fieldset>

                  <div class="form-group">
                      <label class="control-label">Has a JIRA Project?</label>
                      <label class="switcher switcher-success">
                          <input type="checkbox" checked="">
                          <div class="switcher-indicator">
                              <div class="switcher-yes">YES</div>
                              <div class="switcher-no">NO</div>
                          </div>
                          &nbsp;
                      </label>
                  </div>
                  <fieldset class="form-group">
                      <label>Link to the JIRA Project</label>
                      <input class="form-control" type="text" />
                  </fieldset>

                  <div class="form-group">
                      <label class="control-label">Has a Stash Repository?</label>
                      <label class="switcher switcher-success">
                          <input type="checkbox" checked="">
                          <div class="switcher-indicator">
                              <div class="switcher-yes">YES</div>
                              <div class="switcher-no">NO</div>
                          </div>
                          &nbsp;
                      </label>
                  </div>
                  <fieldset class="form-group">
                      <label>Link to the Stash Repository</label>
                      <input class="form-control" type="text" />
                  </fieldset>

              </form>
          </div>

          <div class="panel-footer text-right">
              <button class="btn btn-primary" type="button">Create project</button>
          </div>
      </div>

  </div>
</div>