<!-- Nav -->

<button type="button" class="px-nav-toggle" data-toggle="px-nav">
  <span class="px-nav-toggle-arrow"></span>
  <span class="navbar-toggle-icon"></span>
  <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
</button>

<ul class="px-nav-content">
    <li class="px-nav-item px-nav-dropdown active">
        <a href="#"><i class="px-nav-icon ion-ios-pulse-strong"></i><span class="px-nav-label">Projects</span></a>

        <ul class="px-nav-dropdown-menu" style="">
            <li class="px-nav-item" ui-sref-active="active">
                <a href ui-sref="pages.in-flight"><i class="px-nav-icon ion-paper-airplane"></i><span class="px-nav-label">In-flight</span></a>
            </li>
            <li class="px-nav-item" ui-sref-active="active">
                <a href ui-sref="pages.on-deck"><i class="px-nav-icon ion-briefcase"></i><span class="px-nav-label">On-deck</span></a>
            </li>
            <li class="px-nav-item" ui-sref-active="active">
                <a href ui-sref="pages.backlog"><i class="px-nav-icon ion-filing"></i><span class="px-nav-label">Backlog</span></a>
            </li>
            <li class="px-nav-item" ui-sref-active="active">
                <a href ui-sref="pages.archive"><i class="px-nav-icon ion-archive"></i><span class="px-nav-label">Archive</span></a>
            </li>
        </ul>
    </li>

    <li class="px-nav-item" ui-sref-active="active">
        <a href ui-sref="pages.recurring-tasks"><i class="px-nav-icon ion-calendar"></i><span class="px-nav-label">Recurring Tasks</span></a>
    </li>

    <li class="px-nav-item px-nav-dropdown">
        <a href="#"><i class="px-nav-icon ion-person-stalker"></i><span class="px-nav-label">Team</span></a>

        <ul class="px-nav-dropdown-menu" style="">
            <li class="px-nav-item"><a href=""><span class="px-nav-label">Barry</span></a></li>
            <li class="px-nav-item"><a href=""><span class="px-nav-label">Dan</span></a></li>
            <li class="px-nav-item"><a href=""><span class="px-nav-label">Dennis</span></a></li>
            <li class="px-nav-item"><a href=""><span class="px-nav-label">Joe</span></a></li>
            <li class="px-nav-item"><a href=""><span class="px-nav-label">Scott</span></a></li>
            <li class="px-nav-item"><a href=""><span class="px-nav-label">Sean</span></a></li>
            <li class="px-nav-item"><a href=""><span class="px-nav-label">Ramon</span></a></li>
        </ul>
    </li>

    <li class="px-nav-box b-t-1 p-a-2">
        <a href ui-sref="pages.create-project" class="btn btn-primary btn-block btn-outline"><span class="btn-label-icon left ion-plus-round"></span>Create a project</a>
    </li>
</ul>
