<!-- Nav -->

<button type="button" class="px-nav-toggle" data-toggle="px-nav">
  <span class="px-nav-toggle-arrow"></span>
  <span class="navbar-toggle-icon"></span>
  <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
</button>

<ul class="px-nav-content">
  <li class="px-nav-item active">
      <a href ui-sref="pages.in-flight"><i class="px-nav-icon ion-paper-airplane"></i><span class="px-nav-label">In-flight</span></a>
  </li>
  <li class="px-nav-item">
      <a href ui-sref="pages.on-deck"><i class="px-nav-icon ion-briefcase"></i><span class="px-nav-label">On-deck</span></a>
  </li>
  <li class="px-nav-item active">
      <a href ui-sref="pages.backlog"><i class="px-nav-icon ion-filing"></i><span class="px-nav-label">Backlog</span></a>
  </li>
</ul>
